
<div class="container" ng-controller="ScheduleViewCtrl as SVC">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Volunteer Schedule</h1>

      <form name="jobForm">
        <label>
          Job Title:
          <input type="text" name="jobTitle" ng-model="jobTitle" placeholder="Enter a Job"><br>
        </label>
          <input type="button" ng-click="SVC.addJob()" value="Add job to the Schedule"/>
      </form>

      <br>

      <table>
        <thead>
          <tr>
            <th>Time</th>
            <th ng-repeat="job in SVC.jobs track by $index"> {{ job }}</th>
          </tr>
        </thead>
          <tr ng-repeat="time in SVC.generateTimes()">
            <td>{{ time }}</td>
          </tr>
      </table>
    </div>
  </div>
 </div>
